/* ==== GOOGLE FONTS ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* == VARIABLES CSS == */
:root{
    --header-height: 3.5rem;

 /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/

  --first-color: #27CEDD;
  --second-color: #66fcf1;
  --third-color: ;
  --first-color-alt: ;
  --text-color: #A2C6DE;
  --container-color: #474b4f;
  --body-color:#222629 ;
  --title-color: ;
  

    /* ==== Font and typography ==== */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --body-font-alt: 'Share Tech Mono', monospace;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ==== Font weight ===== */
    --font-medium: 500;
    --font-semibold: 600;
    --font-light: 400;

    --z-fixed: 100;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}


/* ==== BASE ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
button{
    font-family: var(--body-font-alt);
}

body {
  background-color: var(--body-color);
  color: #fff;
}

h1, h2, h3 {
  color: #fff;
}

/* ==== REUSABLE CSS ==== */

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.section {
    padding: 4.5rem 0 1rem;
}

.main{
    overflow: hidden;
}
.section-title{
    text-align: center;
    margin-bottom: 2rem;
    letter-spacing: 0.1rem;
}

/* ==== HEADER & NAV ===== */
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--container-color);
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-logo{
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: var(--font-light);
    transition: .4s;
}

.nav-logo:hover{
    color: var(--second-color);
} 

.nav-menu{
    position: fixed;
    bottom: 1rem;
    background-color: var(--container-color);
    width: 90%;
    border-radius: 1.7rem;
    padding: 1rem 2.25rem;
    backdrop-filter: blur(20px);
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    padding: .4rem;
    font-size: 1.25rem;
    display: flex;
    border-radius: 0.5rem;
}

/* Active link */

.active-link{
  background: linear-gradient(180deg,
              var(--first-color),
              var(--second-color)
            );
box-shadow: 0 0 16px var(--first-color-alt);
color: var(--body-color);
}

.container-language{
  position: relative;
}

.select-language{
  background-color: var(--body-color);
  outline: none;
  padding: 0.5rem;
  font-family: var(--body-font-alt);
  color: #fff;
  border: none;
}


/* ==== HOME ===== */

.home-banner{
  width: 100%;
  position: relative;
}

.home-banner img{
  position: absolute;
  width: 600px;
  top: 0;
  bottom: 60px;
  left: 0;
  right: 60px;
 
}

.home-container{
    position: relative;
    row-gap: 4.5rem;
    /* padding-top: 2rem; */
/*     font-family: var(--body-font-alt);
 */}

.home-data{
    text-align: center;
    color: #fff;
    padding: 0 2rem;
}

.home-greeting{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.home-education{
    margin-bottom: 1.7rem;
    font-size: var(--h3-font-size);
}

.home-name{
    font-size: var(--biggest-font-size);
    margin-bottom: .6rem;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2.5rem;
}


.home-about{
    margin-bottom: .7rem;
    color: var(--text-color);
}


/* HOME-RIGHT */


/* HOVER 1 */
/* .home-info{
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 60px;
    position: relative;
}
.home-info::before{
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px double #fff;
    z-index: 0;
    opacity: 0.6;
  }
.home-box-info{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home-box-info:hover{
    z-index: 10000;
    transform: scale(0.75);
}
.home-box-info::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px #1877f2,
    0 0 0 20px var(--body-color),
    0 0 0 22px #1877f2;
    transition: 0.5s;
}
.home-box-info:hover::before{
    inset: 0px;
}
.home-box-info::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--body-color);
    transform: rotate(45deg);
}

.home-box-info .wrapper-home-info{
    position: relative;
    color: #1877f2;
    z-index: 10;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
}

.home-box-info:hover .wrapper-home-info{
    font-size: 3em;
    filter: drop-shadow(0 0 20px #1877f2) drop-shadow(0 0 40px #1877f2) drop-shadow(0 0 60px #1877f2);
}

.home-right-title{
    z-index: 10000000;
    font-size: var(--h3-font-size);
}

 */

 /* HOVER 2 */

 .home-right{
  row-gap: 2.5rem;
 }

 .home-info{
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 140px 140px;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 100px;
  position: relative;
 }

 .home-info::before{
  content: '';
  position: absolute;
  width: 210px;
  height: 210px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 10px double var(--first-color);
  z-index: -1;
 }

 .home-box-info{
  position: relative;
  background: #222;
  border: 2px solid var(--first-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.09rem;
  padding: 0.9rem 1rem;
  transition: 0.5s;
 }

 .home-box-info:hover{
  letter-spacing: 0.1em;
  transform: scale(1.10);
 }

 .home-box-info::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: transparent;
  transition: 0.3s;
 }
 .home-box-info:hover::before{
  box-shadow: 0 0 0 2px var(--first-color),
  0 0 0 10px #222,
  0 0 0 11px var(--first-color);
 }


 .home-box-info .wrapper-home-info{
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
 }

 .home-box-info:hover .wrapper-home-info{
  font-size: 3em;
  filter: drop-shadow(0 0 20px var(--first-color)) drop-shadow(0 0 40px var(--first-color)) drop-shadow(0 0 60px var(--first-color));
 }

 .about-icon{
  font-size: 4rem;
  color: var(--first-color);
  margin-bottom: 1rem;
}

.home-right-title{
  font-size: var(--small-font-size);
  color: var(--first-color);
}

/* SHAPE */

 .home-box-info .home-right-shape{
  position: absolute;
  inset: 0;
  display: block;
 }

 .home-box-info .home-right-shape{
  content: '';
  position: absolute;
  top: -6px;
  left: 100%;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  background: #222;
  border: 2px solid var(--first-color);
  transition: 0.5s;
 }

 .home-box-info:hover .home-right-shape::before{
  left: 0%;
  transform: translateX(-20%) rotate(45deg);
  box-shadow: 40px 39px var(--first-color);
}

.home-box-info .home-right-shape::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: #27282c;
  border: 2px solid var(--first-color);
  transition: 0.5s;
}

.home-box-info:hover .home-right-shape::after{
  left: 100%;
  transform: translateX(-50%) rotate(-45deg);
  box-shadow: 38px -39px var(--first-color);
}

/* ==== BUTTONS ==== */

.button{
  position: relative;
  background: var(--first-color);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.08rem;
  padding: 0.9rem 1rem;
  transition: 0.5s;
}

.button:hover{
  letter-spacing: 0.20em;
  background: var(--first-color);
  color: var(--first-color);
  box-shadow: 0 0 35px var(--first-color);
}

.button::before{
  content: '';
  position: absolute;
  inset: 2px;
  background: var(--body-color);
}

.button span{
  position: relative;
  z-index: 1;
}

.button .square-button {
  position: absolute;
  inset: 0;
  display: block;
}

.button .square-button::before{
  content: '';
  position: absolute;
  top: -6px;
  left: 100%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--body-color);
  border: 2px solid var(--first-color);
  transition: 0.5s;
}

.button:hover .square-button::before{
  left: 0%;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 40px 39px var(--first-color);
}

.button .square-button::after{
  content: '';
  position: absolute;
  bottom: -6px;
  left: 0;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  background: var(--body-color);
  border: 2px solid var(--first-color);
  transition: 0.5s;
}

.button:hover .square-button::after{
  left: 100%;
  transform: translateX(-50%) rotate(-45deg);
  box-shadow: 38px -39px var(--first-color);
}
/* ==== SKILLS ==== */
.skills{
  position: relative;
}

.img-skills{
  position: absolute;
  width: 600px;
  z-index: -2;
}

.skills-container{
    row-gap: 2rem;
    padding-top: 1rem;
  }
  
  .skills-content{
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
  }

  .skills-title{
    border-bottom: 2px solid #fff;
    margin-bottom: 2rem;
  }
  
  .skills-title h3{
    font-size: var(--h3-font-size);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin-bottom: 1.5rem;
  }
  
  .skills-box{
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
  }
  
  .skills-group{
    display: grid;
    align-items: flex-start;
    row-gap: 3rem;
  }
  
  .skills-data{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }

  .skills-data:hover{
    z-index: 10000;
    transform: scale(0.90);
  }

  .skills-data::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px #fff,
    0 0 0 20px var(--container-color),
    0 0 0 22px #fff;
    transition: 0.5s;
  }

  .skills-data:hover::before{
    inset: 0px;
  }

  .skills-data::after{
    content: '';
    position: absolute;
    inset: 0;
    background: var(--container-color);
    transform: rotate(45deg);
  }

  .skills-data div{
    position: relative;
    color: #fff;
    z-index: 10;
    text-transform: uppercase;
    text-align: center;
    transition: 0.5s;
  }

  .skills-data:hover div{
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 40px #fff) drop-shadow(0 0 60px #fff);
  }
  



  .skills .icon-skills{
    font-size: 3.5rem;
    color: #fff;
  }
  
  
  .skills-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 18px;
    color: #fff;
  }
  
  .skills-level{
    color: #fff;
    font-size: var(--small-font-size);
  }

  /* ==== SERVICES ===== */

  .services-container{
    gap: 1.5rem;
    padding-top: 1rem;
  }
  
  .services-card{
    background-color: var(--container-color);
    padding: 2rem 1.5rem 1.5rem;
    border-radius: 1rem;
    text-align: center;
    transition: all 0.4s ease;
  }

  .services-title{
    font-size: var(--h3-font-size);
    margin-bottom: 1.2rem;
    color: #fff;
  }

  .services-icon{
    font-size: 3rem;
    color: #fff;
    transition: color 0.3s ease;
    margin-bottom: .7rem;
  }

  .services .services-container .services-card:hover{
    background: #fff;
  }
  .services .services-container .services-card:hover .box{
    transform: scale(1.05);
    transition: all 0.3s ease;
  }
  .services .services-card:hover .services-icon,
  .services .services-card:hover .services-title,
  .services .services-card:hover p{
    color: #222;
  }


  /* ===== PORTFOLIO ====== */
  
  .portfolio-container{
    padding-top: 1rem;
  }

  .portfolio-filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
  }

  .portfolio-item{
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    border-radius: .5rem;
  }

  .portfolio-card{
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
    overflow: hidden;
  }

  .portfolio-img{
    border-radius: 1rem;
    margin-bottom: .75rem;
    max-width: 100%;
    height: auto;
  }
  
  .portfolio-title {
    font-size: var(--normal-font-size);
    margin-bottom: .25rem;
    font-weight: 400;
  }

  .container-portfolio-button{
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
 
  }

  .portfolio-button{
    font-size: 0.80rem;
    display: flex;
  }

  .portfolio-button span{
    display: flex;
    align-items: center;
    column-gap: .25rem;
  }

  .portfolio-button i {
    font-size: 1.5rem;
    transition: 0.3s;
  }

  .portfolio-button:hover i{
    transform: translateX(.45rem);
  }

  .portfolio-info{
    font-weight: 400;
    font-size: var(--small-font-size);
    line-height: 1.5rem;
    word-wrap: break-word;
  }

  
.active-portfolio{
  background-color: var(--first-color);
  color: var(--body-color);
}


/* ===== CONTACT ===== */

.contact-container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}

.contact-title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact-info{
  display: grid;
  gap: 1rem;
}

.contact-card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-card-icon{
  font-size: 3rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact-card-title,
.contact-card-data{
  font-size: var(--normal-font-size);
  margin-bottom: .35rem;
}

.contact-card-title{
  font-weight: 400;
}

.contact-card-data{
  margin-bottom: 1rem;
}

.contact-button{
  font-size: var(--small-font-size);
  column-gap: .25rem;
  margin-bottom: .25rem;

}

.contact-button:hover .contact-button-icon{
  transform: translateX(.25rem);
}

.contact-button-icon{
  transition: .4s;
}


/* ==== FOOTER ===== */

.footer{
  background-color: var(--first-color);
}

.footer-container{
  padding: 2rem 0 6rem;
}

.footer-title,
.footer-link,
.footer-subtitle{
  color: var(--body-color);
}

.footer-title{
  text-align: center;
  margin-bottom: 2rem;
}

.footer-credits{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer-social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
  margin-bottom: 2rem;
}

.footer-social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer-copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--small-font-size);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(219, 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(219, 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(219, 8%, 20%);
}


/*=============== BREAKPOINTS ===============*/
/* Small devices */

@media screen and (max-width: 320px) {
  .nav-menu{
    padding: 1rem 1.5rem;
  }

  .home-buttons{
    flex-direction: column;
    gap: 3rem;
  }

  .home-info{
    grid-template-columns: repeat(2, 3fr);
  }

  .home-box-info{
    padding: 1.5rem 0.5rem;
  }

  .about-icon{
    font-size: 3rem;
  }

  .skills-box{
    column-gap: 1rem;
  }
  .skills-data{
    width: 110px;
    height: 110px;
  }

  .skills-name,
  .skills-level{
    font-size: .753rem;
  }
  .skills .icon-skills{
    font-size: 2.3rem;
  }
}
 /* For medium devices */

@media screen and (min-width: 576px) {
  .nav-menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .skills-container{
    justify-content: center;
  }
  .skills-content{
    padding: 2rem 4rem;
  }

  .services-container{
    grid-template-columns: repeat(2, 260px);
    justify-content: center;
  }
  .portfolio-container{
    justify-content: center;
  }


  .contact-info{
    grid-template-columns: 300px;
    justify-content: center;
  }
 
}

@media screen and (min-width: 767px) {
  .portfolio-container{
   grid-template-columns: repeat(2, 340px);
  }
  /* .contact-container{
   grid-template-columns: repeat(2, max-content);
   justify-content: center;
   column-gap: 3rem;
 } */

 .contact-info{
  grid-template-columns: repeat(2, 250px);
 }


}


@media screen and (min-width: 992px) {
  .container{
    margin-left: auto;
    margin-right: auto;
  }
 

  .section{
    padding: 6.5rem 0 1rem;
  }

  .section-title{
    margin-bottom: 3.5rem;
  }
 
  .nav{
    height: calc(var(--header-height) + 1.5rem);
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.5rem;
  }


  .nav-menu{
    position: initial;
    background-color: transparent;
  }

  .home-container{
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    min-height: 90vh;
  }
  .home-info::before{
    width: 210px;
    height: 210px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
  
   .home-data{
    padding: 1rem 1rem 0 1.6rem;
    text-align: initial;
   }

   .home-buttons{
    justify-content: start;
    margin-left: 1rem;
   }

   .home-right{
    padding-top: 1rem;
    
   }




.skills-container{
  grid-template-columns: repeat(2, 440px);
  column-gap: 3rem;
}
.skills-box{
  column-gap: 5rem;
}

.services-container{
  grid-template-columns: repeat(3, 272px);
  column-gap: 3rem;
}
.services-card{
  padding: 2rem 2rem 1.5rem;
}

.portfolio-container{
  gap: 3rem;
}
.portfolio-card{
  padding: 1.25rem;
}
.portfolio-img{
  margin-bottom: 1rem;
}
.portfolio-title{
  margin-bottom: .5rem;
}


/* .contact-container{
  column-gap: 6rem;
} */

.footer-social-link{
  font-size: 1.25rem;
  padding: .4rem;
  border-radius: .5rem;
}

}

@media screen and (min-width: 1191px) {

  .portfolio-container{
    grid-template-columns: repeat(3, 340px);
   }

   .services-container{
    grid-template-columns: repeat(3, 292px);
    column-gap: 4rem;
  }

  .skills-container{
    grid-template-columns: repeat(2, 500px);
    column-gap: 5rem;
  }
  .skills-box{
    column-gap: 5rem;
  }
  .home-data{
    padding: 1rem 3rem 0 4rem;
  }

  .nav{
    margin-left: 4rem;
    margin-right: 4rem;
  }
}