/* ==== GOOGLE FONTS ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* == VARIABLES CSS == */
:root{




    /* ==== Font and typography ==== */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --body-font-alt: 'Share Tech Mono', monospace;
}

/* ==== BASE ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
button{
    font-family: var(--body-font);
}

/* ==== REUSABLE CSS ==== */

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.section {
    padding: 4.5rem 0 1rem;
}

/* ==== HEADER & NAV ===== */
.header{
    position: fixed;
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
}

/* .nav-logo{

}

.nav-logo:hover{

} */

.nav-menu{
    position: fixed;
    bottom: 1rem;
    background-color: red;
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    padding: .4rem;
    font-size: 1.25rem;
    display: flex;
    border-radius: 5rem;
}

/* ==== HOME ===== */
.home-container{
    position: relative;
    row-gap: 4.5rem;
    padding-top: 2rem;
    font-family: var(--body-font-alt);
}

.home-data{
    text-align: center;
}