/* ==== GOOGLE FONTS ==== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* == VARIABLES CSS == */
:root{
    --header-height: 2rem;




    /* ==== Font and typography ==== */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --body-font-alt: 'Share Tech Mono', monospace;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    

    --z-fixed: 100;
}

/* ==== BASE ===== */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
  }

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body,
button{
    font-family: var(--body-font-alt);
}

/* ==== REUSABLE CSS ==== */

.container{
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.section {
    padding: 4.5rem 0 1rem;
}

.section-title{
    text-align: center;
    margin-bottom: 2rem;
}

/* ==== HEADER & NAV ===== */
.header{
    position: fixed;
    width: 100%;
    z-index: var(--z-fixed);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .6rem;
}

.nav-logo{
    font-size: 1.1rem;
    transition: .4s;
}

.nav-logo:hover{
    color: aqua;
} 

.nav-menu{
    position: fixed;
    bottom: 1rem;
    background-color: red;
    width: 90%;
    border-radius: 4rem;
    padding: 1rem 2.25rem;
}

.nav-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    color: #fff;
    padding: .4rem;
    font-size: 1.25rem;
    display: flex;
    border-radius: 5rem;
}

/* ==== HOME ===== */
.home-container{
    position: relative;
    row-gap: 4.5rem;
    /* padding-top: 2rem; */
/*     font-family: var(--body-font-alt);
 */}

.home-data{
    text-align: center;
}

.home-greeting{
    font-size: var(--h2-font-size);
    margin-bottom: 1rem;
}

.home-education{
    margin-bottom: 1.7rem;
    font-size: var(--h3-font-size);
}

.home-name{
    font-size: var(--biggest-font-size);
    margin-bottom: .6rem;
}

.home-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}


.home-about{
    margin-bottom: .7rem;
}

/* .home-banner{
    height: 100vh;
} */



.home-info{
    display: grid;
    grid-template-columns: 145px 145px;
    grid-template-rows: 150px 150px;
    justify-content: center;
    column-gap: 2.5rem;
    row-gap: 60px;
    position: relative;
}
.home-info::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 10px double blue;
    z-index: -1;
    opacity: 0.6;
  }
.home-box-info{
    position: relative;
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.home-box-info:hover{
    z-index: 10000;
    transform: scale(0.75);
}
.home-box-info::before{
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px #1877f2,
    0 0 0 20px #fff,
    0 0 0 22px #1877f2;
    transition: 0.5s;
}
.home-box-info:hover::before{
    inset: 0px;
}
.home-box-info::after{
    content: '';
    position: absolute;
    inset: 0;
    background: #fff;
    transform: rotate(45deg);
}

.home-box-info .wrapper-home-info{
    position: relative;
    color: #1877f2;
    z-index: 10;
    font-size: 2rem;
    text-align: center;
    transition: 0.5s;
}

.home-box-info:hover .wrapper-home-info{
    font-size: 3em;
    filter: drop-shadow(0 0 20px #1877f2) drop-shadow(0 0 40px #1877f2) drop-shadow(0 0 60px #1877f2);
}

.home-right-title{
    z-index: 10000000;
    font-size: var(--h3-font-size);
}





/* ==== BUTTONS ==== */

.button{
    padding: .75rem 1rem;
    border-radius: .5rem;
}